<ion-list class="popover-page">
    <button class="popover_button" full clear dark
          [hidden]="selectedItem!=='LISTA_COMPRA'"
          (click)="optCleanMarked($event)">
      <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
      LIMPIAR_COMPLETADOS
    </button>
    <button class="popover_button" full clear dark
          [hidden]="selectedItem!=='LISTA_COMPRA'"
          (click)="optClean($event)">
      <ion-icon ios='ios-trash' md='md-trash'></ion-icon>
      LIMPIAR
    </button>
    <button class="popover_button" full clear dark
          [hidden]="selectedItem!=='LISTA_COMPRA'"
          (click)="optSaveList($event)">
      <ion-icon ios='ios-star' md='md-star'></ion-icon>
      GUARDAR
    </button>
    <button class="popover_button" full clear dark
          [hidden]="selectedItem!=='LISTA_COMPRA'"
          (click)="optRecoverList($event)">
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      RECUPERAR
    </button>
    <button class="popover_button" full clear dark
            (click)="optNotifications($event)">
      <ion-icon ios='ios-notifications' md='md-notifications'></ion-icon>
      RECORDATORIOS
    </button>
</ion-list>
