<meta charset="UTF-8">
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Elemento de {{nombreLista}}</h1>
    <button class="button button-clear button-primary ion-close-round" ng-click="modalElemento.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Elemento:</span>
        <input ng-model="newElement.nombreElemento" type="text" reset-field>
      </label>
      <label class="item item-input">
        <span class="input-label">Cantidad:</span>
        <input ng-model="newElement.cantidadElemento" min="{{newElement.cantidadMinima}}" type="number">
      </label>
      <label class="item item-input">
  		  <span class="input-label">Cantidad mínima:</span>
  		  <input type="number" min="0" ng-model="newElement.cantidadMinima"></input>
  	  </label>
      <label class="item item-toggle">
         Caduca:
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="newElement.caduca" ng-checked="newElement.caduca" ng-change="cambioCaducidad()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Fecha de caducidad:</span>
        <input ng-disabled="fechaDisabled" ng-model="newElement.fechaCaducidad" type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Color:</span>
        <select ng-model="newElement.colorElemento"
            ng-options="cc.claseElemento as cc.nombre for cc in coloresElementos"
            ng-change="setColor(newElement.colorElemento)">
        </select>
      </label>
      <button class="button button-full button-dark ion-archive" ng-click="save(newElement)"></button>
    </div>
  </ion-content>
</ion-modal-view>
