<!DOCTYPE html>
<meta charset="UTF-8">
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{ 'ELEMENTO_DE' | translate}} {{nombreLista | translate}}</h1>
    <button class="button button-clear button-primary ion-close-round" ng-click="modalElemento.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">{{ 'ELEMENTO' | translate}}</span>
             <angucomplete-alt
                           placeholder="{{ 'ELEMENTO_NUEVO' | translate}}"
                           pause="0" minlength="1"
                           override-suggestions="true"
                           auto-match="true"
                           selected-object="newElement.nombreElemento"
                           local-data="elementos"
                           search-fields="nombreElemento"
                           title-field="nombreElemento"
                           match-class="highlight"
                           input-class="form-control form-control-small inputAutocomplete"/>
      </label>
      <label class="item item-input">
        <span class="input-label">{{ 'CANTIDAD' | translate}}</span>
        <input ng-model="newElement.cantidadElemento" min="{{newElement.cantidadMinima}}" type="number">
      </label>
      <label ng-hide="elementoListaCompra" class="item item-input">
  		  <span class="input-label">{{ 'CANTIDAD_MINIMA' | translate}}</span>
  		  <input type="number" min="0" ng-model="newElement.cantidadMinima">
  	  </label>
      <label ng-hide="elementoListaCompra" class="item item-toggle">
         {{ 'CADUCA' | translate}}
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="newElement.caduca" ng-checked="newElement.caduca" ng-change="cambioCaducidad()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </label>
      <label ng-hide="elementoListaCompra || fechaDisabled" class="item item-input">
        <span class="input-label">{{ 'FECHA_CADUCIDAD' | translate}}</span>
        <input ng-model="newElement.fechaCaducidad" type="date">
      </label>
      <!--
      <label class="item item-input">
        <span class="input-label">{{ 'COLOR' | translate}}</span>
        <select ng-model="colorElemento"
            ng-options="cc.claseElemento as (cc.nombre | translate) for cc in coloresElementos"
            ng-change="setColor(colorElemento)">
        </select>
      </label>
    -->
      <button class="button button-full button-dark ion-archive" ng-click="save(newElement)"></button>
    </div>
  </ion-content>
</ion-modal-view>
