<meta charset="UTF-8">
<ion-view view-title="{{ 'CONFIGURACION' | translate }}" ng-init="initialize()">
  <ion-content has-bouncing="false" detect-gestures gesture-type="swiperight">

	<div class="list">
<!--
	  <label class="item item-input item-select">
	    <div class="input-label">
	      {{ 'COLOR_DEFECTO_LISTA' | translate }}
	    </div>
	    <select ng-model="claseLista"
	    		ng-options="cc.claseLista as (cc.nombre | translate) for cc in configData.configColors"
	    		ng-change="changeColor(claseLista)">
	    </select>
	  </label>

    <label class="item item-input item-select">
	    <div class="input-label">
	      {{ 'COLOR_DEFECTO_ELEMENTO' | translate }}
	    </div>
	    <select ng-model="claseElemento"
	    		ng-options="cc.claseElemento as (cc.nombre | translate) for cc in configData.configColorsElements"
	    		ng-change="changeColorElement(claseElemento)">
	    </select>
	  </label>
-->
    <label class="item item-toggle">
       {{ 'PREGUNTA_INCLUIR_LISTA_COMPRA' | translate }}
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="configData.askAddListaCompra" ng-checked="configData.askAddListaCompra">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </label>
    <label class="item item-toggle">
       {{ 'BORRAR_AL_LLEGAR_0' | translate }}
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="configData.askAddListaCompra" ng-checked="configData.askAddListaCompra">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </label>
    <label class="item item-toggle">
       {{ 'CANTIDAD_MINIMA_DEFECTO' | translate }}
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="configData.askAddListaCompra" ng-checked="configData.askAddListaCompra">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </label>
    <label class="item item-toggle">
       {{ 'BORRAR_AL_LLEGAR_0' | translate }}
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="configData.askAddListaCompra" ng-checked="configData.askAddListaCompra">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </label>
    <label class="item item-toggle">
       {{ 'AVISOS_FECHA_CADUCIDAD' | translate }}
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="configData.askAddListaCompra" ng-checked="configData.askAddListaCompra">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </label>
<!--
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Lista por defecto
	    </div>
	    <select ng-model="nombreLista"
	    		ng-options="lista.nombreLista as lista.nombreLista for lista in listas"
	    		ng-change="changeListaDefecto(nombreLista)">
	    </select>
	  </label>
-->

	  <label class="item item-input item-select">
	    <div class="input-label">
	      {{ 'IDIOMA' | translate }}
	    </div>
	    <select ng-model="idiomaSeleccionado"
	    		ng-options="idioma.id_iso as idioma.idiomaSeleccionado for idioma in configData.idiomas"
	    		ng-change="changeIdioma(idiomaSeleccionado)">
	    </select>
	  </label>


	</div>
  </ion-content>
</ion-view>
