<meta charset="UTF-8">
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{ 'MOVER' | translate }} {{elementoLista.nombreElemento}}</h1>
    <button class="button button-clear button-primary ion-close-round" ng-click="modalMoveElement.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">{{ 'CANTIDAD' | translate }}</span>
        <input ng-model="elementoLista.cantidadElemento" min="{{elementoLista.cantidadElemento}}" type="number">
      </label>
      <label class="item item-input">
  		  <span class="input-label">{{ 'CANTIDAD_MINIMA' | translate }}</span>
  		  <input type="number" min="0" ng-model="elementoLista.cantidadMinima"></input>
  	  </label>
      <label class="item item-toggle">
         {{ 'CADUCA' | translate }}
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="elementoLista.caduca" ng-checked="elementoLista.caduca" ng-change="fechaDisabled=!fechaDisabled">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </label>
      <label class="item item-input">
        <span class="input-label">{{ 'FECHA_CADUCIDAD' | translate }}</span>
        <input ng-disabled="fechaDisabled" ng-model="elementoLista.fechaCaducidad" type="date">
      </label>
      <button class="button button-full button-dark ion-archive" ng-click="changeLista()"></button>
    </div>
  </ion-content>
</ion-modal-view>
