<!DOCTYPE html>
<meta charset="UTF-8">
<ion-view view-title="{{ 'TUTORIAL' | translate }}" ng-init="initialize()" has-bouncing="false">
       <ion-nav-buttons side="left">
         <button class="button button-light button-clear no-animation"
                 ng-click="startApp()" ng-show="!slideIndex">
           <i class="icon ion-close"></i>
         </button>
         <button class="button button-light button-clear no-animation"
                 ng-click="previous()" ng-show="slideIndex > 0">
           <i class="icon ion-arrow-left-b"></i>
         </button>
       </ion-nav-buttons>
       <ion-nav-buttons side="right">
         <button class="button button-light button-clear no-animation"
                 ng-click="next()" ng-show="slideIndex != slidesTutorial.length-1">
           <i class="icon ion-arrow-right-b"></i>
         </button>
         <button class="button button-light button-clear no-animation"
                 ng-click="startApp()" ng-show="slideIndex == slidesTutorial.length-1">
           <i class="icon ion-home"></i>
         </button>
       </ion-nav-buttons>
       <ion-slide-box
            on-slide-changed="slideChanged(index)"
            slide-interval="15000"
            show-pager="false"
            auto-play="true">
         <ion-slide ng-repeat="slide in slidesTutorial track by $index">
           <div id="capaTexto"> <p>
             {{slide.text | translate}}
           </p></div>
           <div id="capaImagen"> <img class="imgTutorial" ng-src="{{slide.image}}"> </div>
         </ion-slide>
       </ion-slide-box>

</ion-view>
