<!DOCTYPE html>
<meta charset="UTF-8">
<ion-view  cache-view="false" view-title="{{nombreLista | translate}}" ng-init="initialize()">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-more" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false" detect-gestures gesture-type="swiperight">
    <ion-list detect-gestures gesture-type="swipeleft">
      <ion-item ng-if="!elementoLista.marked"
                ng-repeat="elementoLista in elementosLista | filter:nombreLista | orderBy:['fechaCaducidad','nombreElemento'] track by $index"
                class="item item-icon-left item-icon-right  item-size {{elementoLista.colorElemento}}">
          <i class="icon ion-android-checkbox-outline-blank" ng-hide="{{listaEditable}}" ng-click="markAcquired(elementoLista)"></i>
  				<span>{{elementoLista.nombreElemento}}</span>
  				<p class="fade-in">
            <i class="ion-minus-circled icono-size {{elementoLista.colorBotones}}" ng-click="minusElement(elementoLista)"></i>
            <span class="badge badge-royal">{{elementoLista.cantidadElemento}}</span>
            <i class="ion-plus-circled icono-size {{elementoLista.colorBotones}}" ng-click="plusElement(elementoLista)"></i>
          </p>
  				<span ng-show="{{elementoLista.caduca}}" class="item-note"><p>{{elementoLista.fechaCaducidad |filterDate:elementoLista}}</p></span>
          <ion-option-button class="ion-trash-a icono-option-size {{elementoLista.colorBotones}}"
                             ng-click="onItemDelete(elementoLista)">
          </ion-option-button>
          <ion-option-button class="ion-edit icono-option-size {{elementoLista.colorBotones}}"
                             ng-click="edit(elementoLista)">
          </ion-option-button>
          <ion-option-button  ng-show="{{listaEditable}}" class="ion-shuffle icono-option-size {{elementoLista.colorBotones}}"
                             ng-click="moveTo(elementoLista)">
          </ion-option-button>
          <ion-option-button class="ion-close-circled icono-option-size {{elementoLista.colorBotones}}"
                             ng-click="closeButons()">
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(elementoLista, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
      <ion-item ng-if="elementoLista.marked"
                ng-repeat="elementoLista in elementosLista | filter:nombreLista | orderBy:['fechaCaducidad','nombreElemento'] track by $index"
                class="item item-icon-left item-icon-right {{elementoLista.colorElemento}}">
          <i class="icon ion-android-checkbox-outline" ng-hide="{{listaEditable}}" ng-click="markAcquired(elementoLista)"></i>
          <span>{{elementoLista.nombreElemento}}</span>
          <p class="fade-in">
            <span class="badge badge-royal">{{elementoLista.cantidadElemento}}</span>
          </p>
  				<span ng-show="{{elementoLista.caduca}}" class="item-note"><p>{{elementoLista.fechaCaducidad |filterDate:elementoLista}}</p></span>
          <ion-option-button class="ion-shuffle icono-option-size {{elementoLista.colorBotones}}"
                             ng-click="moveTo(elementoLista)">
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(elementoLista, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <button ng-if="!optionsOpen" class="button button-float" ng-class="{'button-web': isWebBrowser}" ng-click="addItem()"><i class="icon ion-plus"></i></button>
</ion-view>
