<meta charset="UTF-8">
<ion-view view-title="{{ 'GESTION_LISTAS' | translate }}" ng-init="initialize()">
  <ion-content has-bouncing="false" detect-gestures gesture-type="swiperight">
    <ion-list show-reorder="showReorder" detect-gestures gesture-type="swipeleft">
      <ion-item class="{{lista.colorLista}} item-size" ng-repeat="lista in listas track by $index"
            ng-class="item-remove-animate"
      			href="#/app/listas/{{lista.nombreLista}}/{{lista.colorLista}}/{{lista.listaEditable}}">
            {{lista.nombreLista | translate}}
          <ion-option-button ng-if="lista.listaEditable" class="ion-close-circled icono-option-size {{lista.colorBotones}}"
                             ng-click="onItemDelete(lista)">
          </ion-option-button>
          <ion-option-button ng-if="lista.listaEditable" class="ion-edit icono-option-size {{lista.colorBotones}}"
                             ng-click="edit(lista)">
          </ion-option-button>
          <!--
          <ion-option-button class="ion-person-add {{lista.colorBotones}}"
                             ng-click="share(lista)">
          </ion-option-button>
          -->
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(lista, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <button ng-if="!optionsOpen" class="button button-float" ng-click="addItem()"><i class="icon ion-plus"></i></button>
</ion-view>
