<!DOCTYPE html>
<meta charset="UTF-8">
<ion-popover-view class="fit">
    <ion-content>
      <div class="list">
        <a ng-if="nombreLista=='LISTA_COMPRA'" class="item item-dark" ng-click="limpiarListaCompra()">
          <i class="icon ion-trash-a icon-menu"></i>&nbsp;{{ 'Limpiar' | translate }}
        </a>
        <a ng-if="nombreLista=='LISTA_COMPRA'" class="item item-dark" ng-click="modalSaveList.show()">
          <i class="icon ion-star icon-menu"></i>&nbsp;{{ 'Salvar' | translate }}
        </a>
        <a ng-if="nombreLista=='LISTA_COMPRA'" class="item item-dark" ng-click="recuperarListasGuardadas()">
          <i class="icon ion-ios-cart-outline icon-menu"></i>&nbsp;{{ 'Recuperar' | translate }}
        </a>
        <a class="item item-dark" ng-click="showFilterBar()">
          <i class="icon ion-ios-search-strong icon-menu"></i>&nbsp;{{ 'Filtrar' | translate }}
        </a>
        <a class="item item-dark" ng-click="createReminder()">
          <i class="icon ion-ios-alarm icon-menu"></i>&nbsp;{{ 'Recordatorio' | translate }}
        </a>
      </div>
      <!-- ion-ios-alarm -->
    </ion-content>
</ion-popover-view>
