<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="500" drag-content="true">
    <ion-nav-bar class="bar-dark">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button ng-show="showReorderbutton" class="ion-arrow-swap light sinBordes icono-option-size" ng-click="reorder()">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark item-user-account item-avatar item item-icon-left">
          <i ng-hide="authorized" class="icon ion-person"></i>
          <img ng-show="authorized" class="icon" ng-src="{{imagenUsuario}}"/>
          {{ 'TITULO' | translate }}
          <p ng-show="authorized" class="fade-in">{{nombreUsuario}}</p>
    </ion-header-bar>
    <ion-content class="desplazado">
      <ion-list>
        <ion-item class="item-dark" menu-close href="#/app/listas">
          {{ 'LISTAS' | translate }}
        </ion-item>
        <ion-item class="item-dark" menu-close href="#/app/elementos">
          {{ 'ELEMENTOS' | translate }}
        </ion-item>
        <ion-item class="item-dark" menu-close href="#/app/config">
          {{ 'CONFIGURACION' | translate }}
        </ion-item>
        <ion-item class="item-dark" menu-close href="#/app/devData">
          {{ 'ACERCA_DE' | translate }}
        </ion-item>
        <ion-item class="item-dark" ng-if="hayFechaUltimoBackup">
          <p class="fade-in backupColor">{{ fechaUltimoBackup | filterDateBckp }}</p>
        </ion-item>
        <ion-item class="item-dark" ng-hide="authorized" ng-click="authorize()">
          <i class="icon"><img ng-src="img/google.png"></i>
        </ion-item>
      </ion-list>
    <!--
    <ion-list>
      <ion-item class="{{lista.colorLista}}" ng-repeat="lista in listas" href="#/app/listas/{{lista.nombreLista}}">
        {{lista.nombreLista}}
      </ion-item>
    </ion-list>
    -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
