<!DOCTYPE html>
<meta charset="UTF-8">
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{ 'RECORDATORIO' | translate }}</h1>
    <button class="button button-clear button-primary ion-close-round" ng-click="modalReminder.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
  		  <span class="input-label">{{ 'MENSAJE' | translate }}</span>
  		  <input type="text" ng-model="mensajeReminder"/>
  	  </label>
      <label class="item item-input">
        <span class="input-label">{{ 'FECHA' | translate }}</span>
        <ionic-datepicker input-obj="datepickerObject">
          <button class="button button-block datetimeButton button-dark"> {{dateTimeReminder | date:'dd - MMMM - yyyy'}}</button>
        </ionic-datepicker>
      </label>
      <label class="item item-input">
        <span class="input-label">{{ 'HORA' | translate }}</span>
        <ionic-timepicker input-obj="timePickerObject">
          <div id="buttonright">
            <button class="button button-block datetimeButton button-dark">
              <standard-time-no-meridian etime="timePickerObject.inputEpochTime"></standard-time-no-meridian>
            </button>
          </div>
        </ionic-timepicker>
      </label>
      <button class="button button-full button-dark ion-archive" ng-click="saveReminder(mensajeReminder)"></button>
    </div>
  </ion-content>
</ion-modal-view>
