<meta charset="UTF-8">
<ion-modal-view cache-view="false">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{ 'RECUPERAR_LISTA' | translate}}</h1>
    <button class="button button-clear button-primary ion-close-round" ng-click="modalRetrieveList.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-dark"
                ng-repeat="lista in listasGuardadas | orderBy:'nombreLista' track by $index"
                ng-click="recuperarListaFavorita(lista.nombreLista)">
        <span>{{lista.name|filterNameJson}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
