bottom-buttons-component {
  .segment-button,
  .segment-button.activated,
  .segment-button.segment-activated {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #0f0f0f !important;
	 border-style: none !important;
	 font-size:3rem!important;
  }
}
