<ion-header>
	<ion-toolbar dark>
		<ion-title [hidden]="!editing">
			{{ 'EditaCategoria' | translate }}
		</ion-title>
		<ion-title [hidden]="editing">
			{{ 'NuevaCategoria' | translate }}
		</ion-title>
		<ion-buttons end>
			<button primary (click)="save()"><ion-icon ios="ios-archive" md="md-archive"></ion-icon></button>
			<button (click)="close()"><ion-icon ios="ios-close" md="md-close"></ion-icon></button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="item-info">
	<ion-card>
		<ion-card-header>
			<ion-row>
				<ion-col width-66>
					<ion-avatar item-left class="category-icon">
						<img class="icon" src="{{category.icon}}" (click)="changeCategoryIcon($event, category)" />
					</ion-avatar>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col width-50>
					<ion-input class="categoryName" type="text" [(ngModel)]="category.categoryName">
					</ion-input>
				</ion-col>
				<ion-col width-33>
					<ion-item>
						<ion-select class="measurement" id="measurement" [(ngModel)]="category.measurement" (ngModelChange)="measurementChange($event)">
							<ion-option value="UNIDADES">{{ 'Unidades' | translate }}</ion-option>
							<ion-option value="GRAMOS">{{ 'Gramos' | translate }}</ion-option>
							<ion-option value="KILOS">{{ 'Kilos' | translate }}</ion-option>
							<ion-option value="LITROS">{{ 'Litros' | translate }}</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
				<ion-col width-25>
					<ion-item class="measurementUnitStep">
						<ion-label stacked>{{ 'PasoMedida' | translate }}</ion-label>
						<ion-input text-right [(ngModel)]="category.unitStep" min="1" type="number"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-card-header>
	</ion-card>
</ion-content>
