<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>{{ 'Configuracion' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="list config">

  <ion-list *ngIf="configData">
    <ion-card>
      <ion-card-header>
        {{ 'ConfiguracionListas' | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>{{ 'CantidadMinimaDefecto' | translate }}</ion-label>
          <ion-input text-right [(ngModel)]="configData.cantidadMinimaDefecto" min="1" type="number" (ngModelChange)='onChange()'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'BorrarAlLlegarA0' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="configData.deleteAt0" checked="{{configData.deleteAt0}}" color="dark" (ngModelChange)='onChange()'></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'PreguntaIncluirListaCompra' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="configData.askAddListaCompra" checked="{{configData.askAddListaCompra}}" color="dark" (ngModelChange)='onChange()'></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'AvisosFechaCaducidad' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="configData.expireReminders" checked="{{configData.expireReminders}}" color="dark" (ngModelChange)='onChange()'></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'Diestro' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="configData.rightHand" checked="{{configData.rightHand}}" color="dark" (ngModelChange)='onChange()'></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        {{ 'ConfiguracionCategorias' | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>{{ 'CategoriaDefecto' | translate }}</ion-label>
          <ion-select text-right [(ngModel)]="categorySelected" (ngModelChange)='onChange()'>
            <ion-option *ngFor="let category of categories" value="{{category.categoryName}}">
              {{category.categoryName | translate}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'PasoMedidaDefecto' | translate }}</ion-label>
          <ion-select text-right [(ngModel)]="configData.stepDefault" (ngModelChange)='onChange()'>
            <ion-option *ngFor="let paso of pasos" value="{{paso}}">
              {{paso}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'UnidadDefecto' | translate }}</ion-label>
          <ion-select text-right [(ngModel)]="configData.unitDefault" (ngModelChange)='onChange()'>
            <ion-option *ngFor="let unit of units" value="{{unit}}">
              {{unit | titlecase | translate}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        {{ 'ConfiguracionApp' | translate }}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked>{{ 'Idioma' | translate }}</ion-label>
          <ion-select text-right [(ngModel)]="configData.idiomaDefault" (ngModelChange)='onChange()'>
            <ion-option *ngFor="let idioma of idiomas" value="{{idioma.id_iso}}">{{idioma.idiomaSeleccionado}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
