<ion-header>
	<ion-navbar dark>
		<button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
		<ion-title>List management</ion-title>
		<ion-buttons end>
			<button (click)="reorder($event)">
         	<ion-icon secondary class="reorderAllowed" *ngIf="reorderAllowed" ios="ios-repeat" md="md-repeat"></ion-icon>
         	<ion-icon secondary class="reorderNotAllowed" *ngIf="!reorderAllowed" ios="ios-repeat" md="md-repeat"></ion-icon>
			</button>
			<button ion-button icon-only (click)="onShowOptions($event)">
        		<ion-icon name="more"></ion-icon>
      	</button>
		</ion-buttons>
	</ion-navbar>
	<!--		
			<button secondary (click)="toggleSearchBar($event)">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar [hidden]="!searchBar" [(ngModel)]="searchList" [showCancelButton]="true" [cancelButtonText]="CANCEL" [debounce]=500
	 [autocomplete]="true" [placeholder]="Search" (ionInput)="searchMatches($event)" (ionCancel)="toggleSearchBar($event)">
	</ion-searchbar>
-->
</ion-header>

<ion-content padding class="lists">

	<!--
  <button class="add-button" fab fab-bottom fab-right fab-fixed (click)="addList($event)">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </button>
  <button class="remove-button" fab fab-bottom fab-left fab-fixed (click)="removeLists($event)">
    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
  </button>
-->
	<ion-list inset reorder="{{reorderAllowed}}" (ionItemReorder)="reorderItems($event)">
		<div *ngFor="let list of lists">
			<ion-card ion-item *ngIf="list.nombreLista!=='LISTA_COMPRA'" class="listCard">
				<ion-card-header>
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								<ion-icon class="listName" dark large ios="ios-clipboard-outline" md="md-clipboard" (click)="listSelected($event, list.nombreLista)">
									{{list.nombreLista}}
								</ion-icon>
							</ion-col>
							<ion-col col-2>
								<button item-center secondary clear (click)="editList($event,list)" class="buttonOperation" *ngIf="list.listaEditable">
                        <ion-icon ios="ios-create" md="md-create"></ion-icon>
                      </button>
							</ion-col>
							<ion-col col-2>
								<button item-center secondary clear (click)="editList($event,list)" class="buttonOperation" *ngIf="list.listaEditable">
                        <ion-icon ios="ios-color-palette" md="md-color-palette"></ion-icon>
                      </button>
							</ion-col>
							<ion-colcol-2>
								<button item-center danger clear (click)="removeList($event, list.nombreLista)" class="buttonOperation" *ngIf="list.listaEditable">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                      </button>
							</ion-colcol-2>
						</ion-row>
					</ion-grid>
				</ion-card-header>
				<ion-card-content>
					<p class="info-list-items">
						<ion-icon large primary ios="ios-cart" md="md-cart" class="iconListAdvice">
							Tienes
							<ion-badge large item-right class="badge-info-list-items">4</ion-badge>elementos que deberías comprar
						</ion-icon>
					</p>
					<p class="info-list-items">
						<ion-icon large danger ios="ios-warning" md="md-warning" class="iconListAdvice">
							Tienes
							<ion-badge large item-right class="badge-info-list-items">3</ion-badge>elementos cercanos a caducar
						</ion-icon>
					</p>
				</ion-card-content>
			</ion-card>
		</div>
	</ion-list>
</ion-content>
<ion-footer>
	<bottom-buttons-component [type]="type" [object]="lists" [add]=true [remove]=true [notifications]=false [favorites]=false
	 (finishedAdd)="addList($event)" (finishedRemoved)="removeLists($event,lists)">
	</bottom-buttons-component>
</ion-footer>