  .button-icon-search{
      margin: 1rem 0 2rem 0
  }

  .icon-row {
    height: 100%;
    flex-wrap: wrap;
  }

  .icon-col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: .5rem .25rem;
  }

  .icon-img {
    font-size: 15rem
  }
