  .button-icon-search{
      margin: 1rem 0 2rem 0
  }

  .icon-row {
    height: 100%;
    flex-wrap: wrap;
  }

  .icon-col {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    text-align: center;
    padding: .5rem .25rem;
  }