// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

.item .item-inner {
  border: none;
}
.item-header-toolbar-avatar img.icon {
  border-radius: 0;
  margin-left: -.15rem;
}
.item-md.item-block .item-inner {
  border: none;
}
.menu-content {
  background-color: #222;
}

.add-button {
  background-color: blue;
  z-index: 99;
  width: 3.5rem;
  height: 3.5rem;
}
.add-button:hover {
  background-color: blue !important;
  z-index: 99;
  width: 3.5rem;
  height: 3.5rem;
}
.remove-button {
  background-color: red;
  z-index: 99;
  width: 3.5rem;
  height: 3.5rem;
}
.remove-button:hover {
  background-color: red !important;
  z-index: 99;
  width: 3.5rem;
  height: 3.5rem;
}
button {
  background-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}

.icon-toolbar {
  font-size: 3rem !important;
}

ion-card-header {
  padding: 8px 8px 0px 8px !important;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
