<ion-header>
	<ion-toolbar dark>
		<ion-title [hidden]="!editing">
			{{ 'EditaRecordatorio' | translate }}
		</ion-title>
		<ion-title [hidden]="editing">
			{{ 'NuevoRecordatorio' | translate }}
		</ion-title>
		<ion-buttons end>
			<button primary (click)="save()">
				<ion-icon ios="ios-archive" md="md-archive"></ion-icon>
			</button>
			<button (click)="close()">
				<ion-icon ios="ios-close" md="md-close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label>{{ 'Mensaje' | translate }}</ion-label>
		<ion-input id="message" type="text" [(ngModel)]="data.message" placeholder="NEW MESSAGE"></ion-input>
	</ion-item>
	<ion-item>
		{{data.notificationDate}}
		<ion-datetime class="expireDate" id="notificationDate" displayFormat="DD MMMM YYYY HH:mm" pickerformat="HH:mm DD MMMM YYYY"
		 [(ngModel)]="data.notificationDate" min="{{minDate}}" max="3000">
		</ion-datetime>
	</ion-item>
</ion-content>
