<ion-header>
	<ion-navbar color="dark" [hidden]="searchBar">
		<button ion-button menuToggle>
			<ion-icon ios="ios-menu" md="md-menu"></ion-icon>
		</button>
		<ion-title>{{ 'Categorias' | translate }}</ion-title>
		<ion-buttons end>
			<button (click)="reorder($event)">
				<ion-icon ion-button secondary class="reorderAllowed icon-toolbar" *ngIf="reorderAllowed" ios="ios-repeat" md="md-repeat"></ion-icon>
				<ion-icon ion-button secondary class="reorderNotAllowed icon-toolbar" *ngIf="!reorderAllowed" ios="ios-repeat" md="md-repeat"></ion-icon>
			</button>
			<button ion-button secondary (click)="toggleSearchBar($event)">
				<ion-icon class="icon-toolbar" ios="ios-search" md="md-search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar [hidden]="!searchBar" [(ngModel)]="searchCategory" [showCancelButton]="true"
                  [debounce]=500 [autocomplete]="true"
                  (ionInput)="searchMatches($event)" (ionCancel)="toggleSearchBar($event)">
	</ion-searchbar>
</ion-header>

<ion-content padding class="categories">
	<ion-list>
		<ion-card *ngFor="let category of categories; let i = index">
			<ion-card-header>
				<ion-row>
					<ion-col width-50>
						<ion-avatar item-left class="category-icon">
							<img class="icon" src="{{category.icon.src}}" (click)="changeCategoryIcon($event, category)" />
						</ion-avatar>
					</ion-col>
					<ion-col width-15>
						<button item-center secondary clear (click)="editCategory($event,category)" class="buttonOperation">
							<ion-icon ios="ios-create" md="md-create"></ion-icon>
						</button>
					</ion-col>
					<ion-col width-15>
						<button class="removeCategoryButton" item-center danger large clear (click)="deleteCategory($event, category)">
							<ion-icon ios="ios-trash" md="md-trash"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
        <ion-row>
					<ion-col width-50>
						<ion-item>
							<ion-select readonly="true" class="categoryMeasurement" id="measurement" [(ngModel)]="category.measurement" (ngModelChange)="onMeasurementChange($event,category)">
                <ion-option value="UNIDADES">{{ 'Unidades' | translate }}</ion-option>
                <ion-option value="GRAMOS">{{ 'Gramos' | translate }}</ion-option>
                <ion-option value="KILOS">{{ 'Kilos' | translate }}</ion-option>
                <ion-option value="LITROS">{{ 'Litros' | translate }}</ion-option>
							</ion-select>
						</ion-item>
					</ion-col>
					<ion-col width-25>
						<ion-item readonly="true" class="measurementUnitStep">
							<ion-label stacked>{{ 'PasoMedida' | translate }}</ion-label>
							<ion-input text-right [(ngModel)]="category.unitStep" min="1" type="number"></ion-input>
						</ion-item>
					</ion-col>
        </ion-row>
        <ion-row>
            <ion-input readonly="true" class="categoryName" type="text" [(ngModel)]="category.categoryName">
            </ion-input>
        </ion-row>
			</ion-card-header>
		</ion-card>
	</ion-list>
</ion-content>
<ion-footer>
	<bottom-buttons-component [type]="type" [object]="categories" [add]=true [remove]=true [notifications]=false [favorites]=false
	 (finishedAdd)="addCategory($event)" (finishedRemoved)="removeElements($event,category)">
	</bottom-buttons-component>
</ion-footer>
