<ion-header>
	<ion-navbar dark>
		<button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
		<ion-title>Inicio</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding class="list getting-started">

	<ion-list>
		<ion-card *ngIf="!userProfile">
			<ion-card-header>
				<ion-grid>
					<ion-row>
						<ion-col col-4>
							<h2 class="userAccountLabel">Login with ...</h2>
						</ion-col>
						<ion-col col-2>
							<button type="button" class="mailLogo" clear ion-button block icon-only (click)="emailLogin()">
								<ion-icon ios="ios-mail" md="md-mail"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-2>
							<button type="button" class="fbLogo" clear ion-button block icon-only (click)="facebookLogin()">
								<ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-2>
							<button type="button" class="twLogo" clear ion-button block icon-only (click)="twitterLogin()">
								<ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-2>
							<button type="button" class="googleLogo" clear ion-button block icon-only (click)="googleLogin()">
								<ion-icon ios="logo-goggle" md="logo-google"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-grid>
				<!--
				<ion-item (click)="selectLoginType()">
					<ion-avatar item-right>
						<button clear default>
                <ion-icon class="userAccountIcon" ios="ios-log-in" md="md-log-in"></ion-icon>
              </button>
					</ion-avatar>
					<ion-item>
						<h2 class="userAccountLabel">Login</h2>
					</ion-item>
				</ion-item>
			-->
			</ion-card-header>
		</ion-card>
		<ion-card *ngIf="userProfile">
			<ion-card-header>
				<ion-item (click)="logout()">
					<ion-avatar item-right>
						<button clear danger>
                <ion-icon class="userAccountIcon" ios="ios-log-out" md="md-log-out"></ion-icon>
              </button>
					</ion-avatar>
					<ion-item *ngIf="userProfile">
						<ion-avatar item-left>
							<img [src]="userProfile.photoURL">
						</ion-avatar>
						<h2 class="userAccountLabel">{{ userProfile.displayName }}</h2>
						<h3>{{ userProfile.email }}</h3>
					</ion-item>
				</ion-item>
			</ion-card-header>
		</ion-card>
		<ion-card *ngIf="reminders">
			<ion-card-header>
				<ion-item (click)="showReminders()">
					<ion-avatar item-right>
						<button clear dark>
                <ion-icon class="reminderIcon" ios="ios-notifications" md="md-notifications"></ion-icon>
              </button>
					</ion-avatar>
					<h2 class="reminderLabel">RECORDATORIOS</h2>
				</ion-item>
				<ion-list inset>
					<ion-item ion-item (click)="editReminder()">
						<p class="item-info">
							<ion-icon class="item-icon" ios="ios-eye" md="md-eye"></ion-icon>
							Recuerda ... antes de HH:MM dd/mm/YYYY
						</p>
					</ion-item>
				</ion-list>
			</ion-card-header>
		</ion-card>
		<ion-card>
			<ion-card-header>
				<ion-item>
					<ion-avatar item-right>
						<button clear dark>
                <ion-icon class="neededsIcon" large item-right ios="ios-cart" md="md-cart"></ion-icon>
              </button>
					</ion-avatar>
					<h2 class="neededsLabel">ELEMENTOS NECESARIOS DE COMPRAR</h2>
				</ion-item>
				<ion-list inset>
					<ion-item ion-item (click)="openInternalPage(shoppingListPage)">
						<p class="item-info">
							<ion-icon class="item-icon" ios="ios-cart" md="md-cart"></ion-icon>
							Ver la lista de la compra
						</p>
					</ion-item>
					<ion-item ion-item (click)="showItemsToShop()">
						<p class="item-info">
							<ion-icon class="item-icon" ios="ios-basket" md="md-basket"></ion-icon>
							Ver lista de elementos necesarios de comprar
						</p>
					</ion-item>
					<ion-item ion-item (click)="addItemsToShoppingList()">
						<p class="item-info">
							<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
							Añadir todos a la lista de la compra
						</p>
					</ion-item>
				</ion-list>
			</ion-card-header>
		</ion-card>
		<ion-card *ngIf="expires">
			<ion-card-header>
				<ion-item>
					<ion-avatar item-right>
						<button clear dark>
                <ion-icon class="expiresIcon" large item-right ios="ios-warning" md="md-warning"></ion-icon>
              </button>
					</ion-avatar>
					<h2 class="expiresLabel">ELEMENTOS CERCANOS A CADUCAR</h2>
				</ion-item>
				<ion-list inset>
					<ion-item ion-item (click)="showExpireItems()">
						<p class="item-info">
							<ion-icon class="item-icon" ios="ios-eye" md="md-eye"></ion-icon>
							Ver lista de elementos a punto de caducar
						</p>
					</ion-item>
				</ion-list>
			</ion-card-header>
		</ion-card>
	</ion-list>
</ion-content>