.getting-started {
  background-color: #999 p {
    margin: .75rem 0;
    line-height: .65rem;
    font-size: .35rem;
  }

  button {
    background-color: transparent;
  }

  .googleLogo,
  .mailLogo,
  .fbLogo,
  .twLogo {
    background-color: #e5e5e5;
  }

  .googleLogo {
    color: #e82a37;
  }

  .mailLogo {
    color: #fac704;
  }

  .fbLogo {
    color: #3b5998;
  }

  .twLogo {
    color: #4ac4f1;
  }
}

p.item-info {
  background-color: transparent;
}

p.item-info .ion-ios-eye:before,
p.item-info .ion-ios-add-circle:before,
p.item-info .ion-ios-basket:before,
p.item-info .ion-ios-cart:before,
p.item-info .ion-md-eye:before,
p.item-info .ion-md-add-circle:before,
p.item-info .ion-md-basket:before,
p.item-info .ion-md-cart:before {
  font-size: 1.65rem;
}

.userAccountIcon {
  font-size: 2.25rem;
  color: #167140 !important;
}
.userAccountLabel {
  color: #167140 !important;
  white-space: normal;
}

.reminderIcon {
  font-size: 2.25rem;
  color: #320440;
}
.reminderLabel {
  font-size: 1.5rem !important;
  color: #320440;
  white-space: normal;
}

.neededsIcon {
  font-size: 2.25rem;
  color: #f43300;
}
.neededsLabel {
  font-size: 1.5rem !important;
  color: #f43300;
  white-space: normal;
}

.expiresIcon {
  font-size: 2.25rem;
  color: #006655 !important;
}
.expiresLabel {
  font-size: 1.5rem !important;
  color: #006655 !important;
  white-space: normal;
}
