ion-card ion-card-content {
  padding: 1rem 1rem 1rem 1rem;
}

ion-list .item .item-inner {
  border-bottom: 0;
}

.amountButton {
  display: inline-block;
  margin: 0em;
  margin-right: 0 !important;
}

.buttonOperation {
  padding: 0 1.5rem 0 1.5rem;
}

.nameElement {
  font-size: 2.5rem;
  white-space: normal;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
  font-family: fantasy;
  border-radius: 1.5rem;
  background-color: #ececec;
}

.labelExpire {
  font-size: 0.95rem;
}

.labelExpireDate {
  font-size: 0.95rem;
}

.expireDate {
  font-size: 1.15rem;
  padding: 0 0 0 0;
}

.labelCategory {
  font-size: 1.05rem;
  padding-left: 3rem;
}
.labelMeasurement {
  font-size: 1.25rem;
}
.measurement {
  font-size: 1.15rem;
  padding: 0.1rem 0.25rem 0.1rem 0px;
  max-width: 100%;
}
.labelMinAmout {
  font-size: 0.95rem;
}
.labelAmount {
  font-size: 0.95rem;
}
.icon {
  font-size: 3.25rem;
}
