ion-card ion-card-content {
  padding: 1rem 1rem 1rem 1rem;
}

ion-list .item .item-inner {
  border-bottom: 0;
}

.fila {
  max-height: 4.75rem;
  margin-top: -1rem;
}
ion-card {
  margin: 0px 10px 5px 10px !important;
  border-radius: 2rem !important;
}
.amountIcon {
  display: inline-block;
  margin: 0em;
  margin-right: 0 !important;
  font-size: 2.25rem;
}
.amountButton {
  padding: 0;
}
.amountItem {
  margin-left: -.5rem;
  padding-left: 0;
  background-color: transparent;
}

.buttonOperation {
  font-size: 2.75rem !important;
}

.nameElement {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
  font-family: fantasy;
  border-radius: 1.5rem;
  background-color: #ececec;
}

.labelExpire {
  font-size: 1.85rem;
}

.expireDate {
  font-size: 1.65rem;
  padding: 0 0 0 0;
}

.labelCategory {
  font-size: 1.05rem !important;
}
.labelMeasurement {
  font-size: 1.85rem;
}
.measurement {
  font-size: 1.35rem;
  padding: 0.1rem 0.25rem 0.1rem 0px;
  max-width: 100%;
}
.labelMinAmout {
  font-size: 0.95rem;
}
.labelAmount {
  font-size: 0.95rem;
}
