/* Empty. Add your own CSS if you like */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	 display: none !important;
}

body {
	position: absolute;
	background: #ffffff !important;
}

.button.button-block.datetimeButton {
	margin-top: .1em;
	margin-bottom: .1em;
	margin-right: .5em;
}

.item p.fade-in-config{
	white-space: normal;
}
.menu .bar-header{
	margin:0px;
	color: #9F7ACC;
}
.item p.appTitle{
	margin:0px;
	color: #9F7ACC;
	padding: .5em;
	top: .25em;
}
.item-icon-left .icon{
	left: .5em;
	width: 1.5em;
	height: 1.5em;
	top: .25em;
}
.desplazado {
  top:70px !important;
}
.scroll-content{
	bottom: 50px;
}
input{
  text-align:right;
}
button.ion-arrow-swap.light.sinBordes{
  background: none;
	border: none;
}
.button.button-float{
  background: #ef473a !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 50px !important;
  right: 10px !important;
  border-radius: 50% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button.button-float.button-web{
	bottom: 5px !important;
}

.badge.badge-royal{
	display: inline-block;
	position: inherit;
	font-size: 20px;
	padding: 10px 12px;
	border-radius: 36px;
	vertical-align: middle;
}

.item-size{
	font-size: 16px;
}

.item-size-2{
	font-size: 22px;
}

.icono-option-size{
	font-size: 22px;
}

.icono-size{
	display: inline-block;
  position: inherit;
	vertical-align: middle;
	font-size: 32px;
}

input.reset-field {
	padding-right: 40px;
	z-index:1000 !important;
}
.reset-field-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    margin: 0px;
    color: #bbb;
		z-index:1000 !important;
		font-size:28px;
}

.backupColor{
	color:#33cd5f !important;
}

.popup-container {

}
.popup {
    border: none;
}
.popup-head {
    background-color: #444;
}
.popup-title {
    color: #fff;
		font-size: 18px;
}
.popup-body {
    background-color: #ECECEC;
    color: #111111;
}
.popup-buttons{
    background-color: #ECECEC;
}
.popup-buttons .button {
    background-color: #444;
		border: none;
    font-size: 14px;
}
.popup-buttons .button.button-default{
    color: #fff;
}
.popup-buttons .button.button-positive{
    color: #fff;
}
.popup-buttons .button.activated {
    background-color: #111111;
}

ion-popover-view.fit {
  height: auto !important;
	width: auto !important;
	top: 2.75em !important;;
	left: inherit !important;;
	margin-left: 0px !important;;
	right: -.5em !important;;
	margin-top: .4em !important;;
}

ion-popover-view.fit ion-content {
  position: relative !important;
	margin-top: -10px !important;
}

.icon-menu{
	font-size:1.75em;
}
