/* Empty. Add your own CSS if you like */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	 display: none !important;
}

body {
	position: absolute;
	background: #ffffff !important;
}
input{
  text-align:right;
}
button.ion-arrow-swap.light.sinBordes{
  background: none;
	border: none;
}
.button.button-float{
  background: #ef473a !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.badge.badge-royal{
	display: inline-block;
	position: inherit;
	font-size: 22px;
	padding: 10px 12px;
	border-radius: 36px;
	vertical-align: middle;
}

.icono-option-size{
	font-size: 22px;
}

.icono-size{
	display: inline-block;
  position: inherit;
	vertical-align: middle;
	font-size: 36px;
}

input.reset-field {
	padding-right: 36px;
	z-index:1000 !important;
}
.reset-field-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    margin: 0px;
    color: #bbb;
		z-index:1000 !important;
		font-size:28px;
}

.backupColor{
	color:#33cd5f !important;
}
